<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.hiit.smm.dao.AdminMapper">
<select id="getAllAdmins"   resultType="admin">
select * from admin order by id desc
</select>

<select id="getAdmin" parameterType="int" resultType="admin">
select * from admin where id=#{id}
</select>

<select id="isRegistered" parameterType="string" resultType="int">
select count(*) from admin where username=#{username}
</select>
<!-- 无需加上admin修饰，比如admin.id -->
<select id="checkin" parameterType="admin" resultType="admin">
select * from admin where username=#{username} and  password=#{password} 
</select>

<delete id="deleteAdmin" parameterType="int" >
delete from admin where id=#{id}
</delete>

<update id="updateAdminPassword" >
update admin set password=#{password} where id=#{id}
</update>

<insert id="addAdmin" parameterType="admin" >
insert into admin(portrait,username,password,level) values
(#{portrait},#{username},#{password},#{level})
</insert>



</mapper>

