<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.hiit.smm.dao.ArticleMapper">

<select id="getAllArticles"   resultType="article">
select * from news  order by id desc 
</select>

<select id="getArticlesByAuthor"  parameterType="String"  resultType="article">
select * from news   where  author = #{author} order by id desc 
</select>

<select id="getSlidingArticles"  resultType="article">
select * from news where  position =1 order by id desc limit 0,6
</select>

<select id="getRecArticles" resultType="article">
select * from news where position = 2 order by id desc limit 0,3
</select>

<select id="getLatestArticles" resultType="article">
select * from news where position = 3 order by id desc limit 0,2
</select>




<select id="getShortArticles"   resultType="article">
select * from news where  position = 4 order by id desc limit 0,10
</select>

<select id="getArticle" parameterType="int" resultType="article">
select * from news where id=#{id}
</select>

<insert id="addArticle"  parameterType="article">
<selectKey resultType="int" order="AFTER" keyProperty="id">
         select max(id)  from news
      </selectKey>
    insert into
    news(profile, title, summary, content, position, date,author) 
    values(#{profile}, #{title},#{summary},
     #{content}, #{position}, #{date}, #{author})
</insert>

<update id="updateArticle"  parameterType="article">
update news set profile=#{profile}, title=#{title}, 
summary=#{summary}, content=#{content}, position=#{position},
 date=#{date} ,author=#{author}  where id = #{id}
</update>

<delete id="delectArticle"  parameterType="int" >
delete from news where id=#{id}
</delete>

<select id="getLatestDate" resultType="String">
select max(date) from news 
</select>

<select id="getAllDate" resultType="String">
select distinct(date) from news order by date desc 
</select>

</mapper>

