<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=
	 "http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/aop
	 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	 http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	 
<context:component-scan base-package="com.hiit.smm"></context:component-scan>
<mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
<mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
<mvc:resources mapping="/easyui/**" location="/WEB-INF/easyui/"/>
<mvc:resources mapping="/sequence/**" location="/WEB-INF/sequence/"/>
<mvc:resources mapping="/md/**" location="/WEB-INF/md/"/>
<mvc:resources mapping="/plugins/**" location="/WEB-INF/md/plugins/"/>
<mvc:resources mapping="/lib/**" location="/WEB-INF/md/lib/"/>
<mvc:resources mapping="/img/**" location="/WEB-INF/img/"/>
<mvc:resources mapping="/gallery/**" location="file:/usr/gallery/"/>
<mvc:resources mapping="/portrait/**" location="/WEB-INF/portrait/"/>
<context:property-placeholder location="classpath:db.properties"/>
<mvc:interceptors>
<bean class="com.hiit.smm.interceptor.LoginInterceptor"></bean>
</mvc:interceptors>
<mvc:annotation-driven conversion-service="intConverter"/>
<bean id="intConverter" class="org.springframework.context.support.ConversionServiceFactoryBean">
<property name="converters">
<set>
<bean class="com.hiit.smm.converter.IntConverter"></bean>
</set>
</property>
</bean>
<bean id='multipartResolver' class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<property name="defaultEncoding" value="UTF-8"></property>
</bean>

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix" value="/WEB-INF/pages/"></property>
<property name="suffix" value=".jsp"></property>
</bean>
<bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">
<property name="driverClassName" value="${j_driver}"></property>
<property name="url" value="${j_url}"></property>
</bean>
<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sf">
<property name="dataSource" ref="ds"></property>
<property name="configLocation" value="classpath:mybatis-config.xml"></property>
</bean>
<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<property name="basePackage" value="com.hiit.smm.dao"></property>
</bean>

</beans>